@import "main.scss";

.color-default {
  color: $color-text;
}

.color-gray {
  color: $color-gray;
}

.color-brown {
  color: $color-brown;
}

.color-orange {
  color: $color-orange;
}

.color-yellow {
  color: $color-yellow;
}

.color-green {
  color: $color-green;
}

.color-blue {
  color: $color-blue;
}

.color-purple {
  color: $color-purple;
}

.color-pink {
  color: $color-pink;
}

.color-red {
  color: $color-red;
}

.color-gray_background {
  background-color: $color-gray_background;
}
.color-brown_background {
  background-color: $color-brown_background;
}
.color-orange_background {
  background-color: $color-orange_background;
}
.color-yellow_background {
  background-color: $color-yellow_background;
}
.color-green_background {
  background-color: $color-green_background;
}
.color-blue_background {
  background-color: $color-blue_background;
}
.color-purple_background {
  background-color: $color-purple_background;
}
.color-pink_background {
  background-color: $color-pink_background;
}
.color-red_background {
  background-color: $color-red_background;
}
